In [15]:
# retirando espaços em branco e caracteres especiais

# -*-coding: UTF-8 -*-
import pandas as pd
import numpy as np
import csv
import sys

# dataRem1 = pd.read_csv('/home/crislanio.macedo/DADOSABERTOS/Dados Abertos/dados_servidores/2017/201701_Servidores/20170131_Remuneracao.csv', delimiter="\t", encoding="ISO-8859-9", low_memory=False)
# dataRem2 = pd.read_csv('/home/crislanio.macedo/DADOSABERTOS/Dados Abertos/dados_servidores/2017/201701_Servidores/20170131_NovaRemuneracao.csv', delimiter=",", encoding="ISO-8859-9", low_memory=False)

dataHonor = pd.read_csv('/home/crislanio.macedo/DADOSABERTOS/Dados Abertos/dados_servidores/2017/201701_Servidores/20170131_Honorarios(Jetons).csv', delimiter="t", encoding="ISO-8859-9", low_memory=False)
data = pd.read_csv('/home/crislanio.macedo/DADOSABERTOS/Dados Abertos/dados_servidores/2017/201702_Servidores/20170228_Cadastro.csv', delimiter="\t", encoding="ISO-8859-9", low_memory=False)


# # Resumo das variáveis até o momento.Escolhendo as colunas para colocar em outro csv
# csvTable = data[['COD_UORG_LOTACAO','UORG_LOTACAO', 'COD_ORG_LOTACAO', 'ORG_LOTACAO', 'ORGSUP_LOTACAO','COD_ORGSUP_LOTACAO' ]]
# csvTable.info()

In [9]:
dataHonor.columns

Index(['ANO\tMES\tID_SERVIDOR_PORTAL\tCPF\tNOME\tEMPRESA\tVALOR'], dtype='object')

In [16]:
data.columns

Index(['Id_SERVIDOR_PORTAL', 'NOME', 'CPF', 'MATRICULA', 'DESCRICAO_CARGO',
       'CLASSE_CARGO', 'REFERENCIA_CARGO', 'PADRAO_CARGO', 'NIVEL_CARGO',
       'SIGLA_FUNCAO', 'NIVEL_FUNCAO', 'FUNCAO', 'CODIGO_ATIVIDADE',
       'ATIVIDADE', 'OPCAO_PARCIAL', 'COD_UORG_LOTACAO', 'UORG_LOTACAO',
       'COD_ORG_LOTACAO', 'ORG_LOTACAO', 'COD_ORGSUP_LOTACAO',
       'ORGSUP_LOTACAO', 'COD_UORG_EXERCICIO', 'UORG_EXERCICIO',
       'COD_ORG_EXERCICIO', 'ORG_EXERCICIO', 'COD_ORGSUP_EXERCICIO',
       'ORGSUP_EXERCICIO', 'TIPO_VINCULO', 'SITUACAO_VINCULO',
       'DATA_INICIO_AFASTAMENTO', 'DATA_TERMINO_AFASTAMENTO',
       'REGIME_JURIDICO', 'JORNADA_DE_TRABALHO', 'DATA_INGRESSO_CARGOFUNCAO',
       'DATA_NOMEACAO_CARGOFUNCAO', 'DATA_INGRESSO_ORGAO',
       'DOCUMENTO_INGRESSO_SERVICOPUBLICO',
       'DATA_DIPLOMA_INGRESSO_SERVICOPUBLICO', 'DIPLOMA_INGRESSO_CARGOFUNCAO',
       'DIPLOMA_INGRESSO_ORGAO', 'DIPLOMA_INGRESSO_SERVICOPUBLICO',
       'UF_EXERCICIO'],
      dtype='object')

In [30]:
# print(data.groupby("REGIME_JURIDICO").size())
# print(data.groupby("SITUACAO_VINCULO").size())
print(data.groupby("NIVEL_FUNCAO").size())

NIVEL_FUNCAO
0001    31340
0002    15074
0003    10248
0004    11047
0005     3869
0006     1705
0007     1750
0008      754
0009      548
0010      471
0011      415
0012      417
0013      359
0014      543
0015      220
0016       16
0017       90
0018       16
0019       33
0020       58
0021      241
0022      224
0023      197
0024      153
0025      389
0026      456
0027     1088
0028       27
0029       37
0030       35
        ...
0082        1
0085        1
0086        3
1011     4839
1012     4182
1013     3106
1014     2794
1015      842
1016      198
1021     1384
1022     1439
1023      844
1024      553
1025      176
1026        6
1211       18
1212      301
FCA1        1
FCA2       26
FCA3       57
FCA4      154
FDE1       45
FDE2       78
FDG1        1
FDJ1        1
FDO1      545
FDS1        1
FDT1      226
FST1       12
FST2       75
Length: 96, dtype: int64

In [15]:
print(dataRem2.shape)
dataRem2.head(3)

(589074, 37)

,Unnamed: 0,ANO,MES,ID_SERVIDOR_PORTAL,CPF,NOME,REMUNERACAO_BASICA_BRUTA_REAIS,REMUNERACAO_BASICA_BRUTA_DOLLAR,ABATE_TETO_REAIS,ABATE_TETO_DOLLAR,...,DEMAIS_DEDUCOES_DOLLAR,REMUNERACAO_APOS_DEDUCOES_OBRIGATORIAS_REAIS,REMUNERACAO_APOS_DEDUCOES_OBRIGATORIAS_DOLLAR,VERBAS_INDENIZATORIAS_REGISTRADAS_EM_SISTEMAS_DE_PESSOAL_CIVIL_REAIS,VERBAS_INDENIZATORIAS_REGISTRADAS_EM_SISTEMAS_DE_PESSOAL_CIVIL_DOLLAR,VERBAS_INDENIZATORIAS_REGISTRADAS_EM_SISTEMAS_DE_PESSOAL_MILITAR_REAIS,VERBAS_INDENIZATORIAS_REGISTRADAS_EM_SISTEMAS_DE_PESSOAL_MILITAR_DOLLAR,TOTAL_DE_VERBAS_INDENIZATORIAS_REAIS,TOTAL_DE_VERBAS_INDENIZATORIAS_DOLLAR,TOTAL_DE_HONORARIOS_JETONS
0,0,2017,1,1000000,***.787.200-**,PAULO MARTINS SOARES,"7332,99","0,00","0,00","0,00",...,"0,00","5842,07","0,00","803,65","0,00","0,00","0,00","803,65","0,00","0,00"
1,1,2017,1,1000001,***.600.796-**,ANALIA BATISTA,"9607,00","0,00","0,00","0,00",...,"0,00","9709,57","0,00","1562,53","0,00","0,00","0,00","1562,53","0,00","0,00"
2,2,2017,1,1000002,***.124.863-**,ARY DE NOROES FILHO,"6313,85","0,00","0,00","0,00",...,"0,00","5942,85","0,00","817,93","0,00","0,00","0,00","817,93","0,00","0,00"

In [13]:
print(dataRem1.shape)
dataRem1.head(3)

(589074, 36)

,ANO,MES,ID_SERVIDOR_PORTAL,CPF,NOME,REMUNERAÇÃO BÁSICA BRUTA (R$),REMUNERAÇÃO BÁSICA BRUTA (U$),ABATE-TETO (R$),ABATE-TETO (U$),GRATIFICAÇÃO NATALINA (R$),...,DEMAIS DEDUÇÕES (U$),REMUNERAÇÃO APÓS DEDUÇÕES OBRIGATÓRIAS (R$),REMUNERAÇÃO APÓS DEDUÇÕES OBRIGATÓRIAS (U$),VERBAS INDENIZATÓRIAS REGISTRADAS EM SISTEMAS DE PESSOAL - CIVIL (R$)(*),VERBAS INDENIZATÓRIAS REGISTRADAS EM SISTEMAS DE PESSOAL - CIVIL (U$)(*),VERBAS INDENIZATÓRIAS REGISTRADAS EM SISTEMAS DE PESSOAL - MILITAR (R$)(*),VERBAS INDENIZATÓRIAS REGISTRADAS EM SISTEMAS DE PESSOAL - MILITAR (U$)(*),TOTAL DE VERBAS INDENIZATÓRIAS (R$)(*),TOTAL DE VERBAS INDENIZATÓRIAS (U$)(*),TOTAL DE HONORÁRIOS (JETONS)
0,2017,1,1000000,***.787.200-**,PAULO MARTINS SOARES,"7332,99","0,00","0,00","0,00","0,00",...,"0,00","5842,07","0,00","803,65","0,00","0,00","0,00","803,65","0,00","0,00"
1,2017,1,1000001,***.600.796-**,ANALIA BATISTA,"9607,00","0,00","0,00","0,00","0,00",...,"0,00","9709,57","0,00","1562,53","0,00","0,00","0,00","1562,53","0,00","0,00"
2,2017,1,1000002,***.124.863-**,ARY DE NOROES FILHO,"6313,85","0,00","0,00","0,00","0,00",...,"0,00","5942,85","0,00","817,93","0,00","0,00","0,00","817,93","0,00","0,00"